{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Memescraper</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,900,700,100italic,300italic,400italic,500italic,700italic,900italic,300,100''><link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
</head>
<body>
<!-- partial:index.partial.html -->

<center>





    <div class="tile" style="   outline-style: solid; outline-width: 7px; outline-color: #99aeff; "> 
  <a href="/random"><img src='static/random.gif'/></a>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div>
  <h1 >Random</h1>
</div>
 </div>

   <div class="tile" style="   outline-style: solid; outline-width: 7px; outline-color: #99aeff; "> 
  <a href="/./"><img src='static/fresh.gif'/></a>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div>
  <h1>Fresh</h1>
</div>
 </div>

{% for post in posts %}

<!-- <div class="tile" style="   width: 784px;
  height: 784px; ">  -->
     <div class="tile" >
  <a href="{{ post.image }}"><img src='{{ post.image }}'/></a>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div> <h1> &#8205;  </h1> </div>
<div>
  <h1  >See fullscreen </h1>
</div>
 </div>
{% endfor %}

</center>

<center>
  <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</center>

</div>
<!-- partial -->
  <script  src="{% static 'script.js' %}"></script>

</body>
</html>


